<template>
  <div>
    <div class="output">
      <div class="outputCalc">{{ calcValue || 0 }}</div>
    </div>
    <div class="buttons">
      <div class="button" v-for="n in symbols" :key="n" :class="{ operator: ['C', '*', '/', '-', '+', '%', '='].includes(n) }">
        <div class="btn" @click="action(n)">
          {{ n }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      calcValue: "",
      symbols: ["C","+","-", "*", "/", "=", "7", "8", "9",  "4", "5", "6", "1", "2", "3",  "0", ".",],
      operator: null,
      previousCalcValue: "",
    };
  },
  methods: {
    action(n) {
      /* Добавление значения */
      if (!isNaN(n) || n === ".") {
        this.calcValue += n + "";
      }
      /* Очистить */
      if (n === "C") {
        this.calcValue = "";
      }
      /* Операторы */
      if (["/", "*", "-", "+"].includes(n)) {
        this.operator = n;
        this.previousCalcValue = this.calcValue;
        this.calcValue = "";
      }
      /* Вычисление значения */
      if (n === "=") {
        this.calcValue = eval(
          this.previousCalcValue + this.operator + this.calcValue
        );
        this.previousCalcValue = "";
        this.operator = null;
      }
    },
  },
};
</script>

<style>
.output {
  text-align: center;
  background-color: #3d5b7b;
  width: min(180px, 70%);
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #87afd1;
  border-radius: 4px;
}
.outputCalc {
  background-color: #87afd1;
  padding: 1rem;
  border-radius: 5px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(10px, auto);
  width: min(200px, 70%);
  border: 1px solid #87afd1;
  border-radius: 4px;
  align-items: center;
  background-color: #dae1ff;
  margin: 10px auto;
  gap: 4px;
}
.button {
  background-color: #2ea8bf;
  padding: 1px;
  border-radius: 3px;
  margin: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: #38e3ff;
  color: #000;
}
.operator {
  background-color: #38e3ff;
  color: #000;
}
.operator:hover {
  background-color: #2ea8bf;
}
</style>
